In [3]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
import hvplot.pandas

In [4]:
# Load data
file_path = "../Resources/new_iris_data.csv"
df_iris = pd.read_csv(file_path)
df_iris.head(10)

   sepal_length  petal_length  sepal_width  petal_width
0           5.1           1.4          3.5          0.2
1           4.9           1.4          3.0          0.2
2           4.7           1.3          3.2          0.2
3           4.6           1.5          3.1          0.2
4           5.0           1.4          3.6          0.2
5           5.4           1.7          3.9          0.4
6           4.6           1.4          3.4          0.3
7           5.0           1.5          3.4          0.2
8           4.4           1.4          2.9          0.2
9           4.9           1.5          3.1          0.1

In [7]:
# First step is to Standardize data with StandardScaler
iris_scaled = StandardScaler().fit_transform(df_iris)
print(iris_scaled[0:5])

[[-0.90068117 -1.3412724   1.03205722 -1.31297673]
 [-1.14301691 -1.3412724  -0.1249576  -1.31297673]
 [-1.38535265 -1.39813811  0.33784833 -1.31297673]
 [-1.50652052 -1.2844067   0.10644536 -1.31297673]
 [-1.02184904 -1.3412724   1.26346019 -1.31297673]]

In [ ]:
# Initialize PCA model with PCA method takes an argument of n_components, which will pass in the value of 2, thus reducing the features from 4 to 2
pca = PCA(n_components=2)